@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #8c744b;
}

#hotels
{
    width: 100vw;
    text-align: center;
}

.create-hotel-div
{
    width: 35%;
    min-width: 200px;
}

.hotel-index-div
{
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #a5a5a5;
    border-radius: 2px;
    background-color: inherit;
    transition: ease-in 0.1s;
}

.standard-btn
{
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: gray;
    border: 1px #ccc solid;
}

#index-banner
{
    width: 100%;
    height: 65vh;
    background-image: url('/laravelapp/resources/inc/banner.jpg');
    background-repeat: repeat;
}

#banner-title
{
    padding-top: 15vh;
    text-align: center;
    font-size: 3em;
    color: white;
}

#banner-search-form
{
    text-align: center;
}

#search-input
{
    width: 500px;
    border: 3px solid #4c3518;
    padding: 5px;
    font-size: 2em;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    color: #9DBFAF;
}

#search-input:focus
{
    color: #4c3518;
}

#search-submit
{
    background-color: #4c3518;
    color: #ccc;
    font-size: 2em;
    border: 0;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    border: 3px solid #4c3518;
    cursor: pointer;
}

#search-submit:hover
{
    color: #ffffff;
}

.hotel-index-div-left
{
    float: left;
}

.hotel-index-div-right
{
    float: right;
    text-align: left;
    margin-right: 10%;
}

.hotel-index-div-end-float
{
    clear: both;
}

.link-to-button
{
    text-decoration: none;
    color: initial;
    border: 0;
    background-color: inherit;
    color: #111111;
    border-radius: 20px;
    padding: 8px;
    transition: ease-in 0.2s;
}

.red-button
{
    background-color: rgb(207, 16, 16);
}

.yellow-button
{
    background-color: rgb(235, 235, 25);
}

.green-button
{
    background-color: rgb(20, 173, 20);
}

.link-to-button:hover
{
    border-radius: 10px;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.price-hotel
{
    color: rgb(26, 184, 26);
}

#capacity-field
{
    width: 60px;
}

.hotel-image
{
    width: 350px;
}

@media only screen and (max-width: 1450px)
{
    .hotel-image
    {
        width: 100%;
    }
}